body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;

    .ticket {
        h1 {
            color: rgb(215, 74, 74);
        }
        border: 1px solid white;
        background-color: grey;
        width: 800px;
        padding: 40px;
        border-radius: 30px;
        margin: 100px 0px;
        display: flex;
        flex-direction: column;
        > div {
            width: 100%;
            text-align: center;
        }
    }
}
